.footer {
  background-color: #1B4A65;
  color: #fff;

  &__container {
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;

    & span {
      margin-top: 5px;
      font-weight: 400;
      font-size: 16px;
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__logo-link {
    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__phone-link {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    color: #fff;
  }

  &__mail-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    color: #fff;
  }

  &__btn {
    position: fixed;
    z-index: 20;
    width: 45px;
    height: 45px;
    background-color: #1B4A65;
    border: 2px solid #FEFBF6;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    &--up {
      bottom: 10px;
      top: auto;
      background-image: url('../img/arrow_up.svg');
      left: 50%;
      transform: translateX(-50%);
    }

    &--phone {
      background-image: url('../img/phone_icon_red.svg');
      bottom: 10px;
      right: 45px;

      @media screen and (max-width: 1200px){
        right: 20px;
      }
    }
  }
}
