<section class="steps" id="steps">
  <div class="container steps__container">
    <h2 class="title steps__title">
      Как вызвать мастера на дом
    </h2>
    <div class="steps__content">
      <div class="steps__item rotate-card">
        <div class="steps__side rotate-card__front rotate-card__front--tablet front-js">
          <h3 class="steps__card-title">
            Звонок
          </h3>
        </div>
        <div class="steps__side rotate-card__back rotate-card__back--tablet back-js">
          <h3 class="steps__card-title">
            Звонок
          </h3>
          <p class="steps__text">
            Возьмите телефон и наберите простой номер <a href="tel:+79095894109">+7 (909) 589-41-09</a>. Расскажите о поломке и назовите свой адрес, чтобы наш мастер знал, куда ему ехать
          </p>
        </div>
      </div>
      <div class="steps__item rotate-card">
        <div class="steps__side rotate-card__front rotate-card__front--tablet front-js">
          <h3 class="steps__card-title">
            Консультация мастера
          </h3>
        </div>
        <div class="steps__side rotate-card__back rotate-card__back--tablet back-js">
          <h3 class="steps__card-title">
            Консультация мастера
          </h3>
          <p class="steps__text">
            Бесплатно проконсультирует вас и назовет ориентировочную стоимость ремонта. Точную сумму он сможет определить только после диагностики.
          </p>
        </div>
      </div>
      <div class="steps__item rotate-card">
        <div class="steps__side rotate-card__front rotate-card__front--tablet front-js">
          <h3 class="steps__card-title">
            Выезд мастера и ремонт
          </h3>
        </div>
        <div class="steps__side rotate-card__back rotate-card__back--tablet back-js">
          <h3 class="steps__card-title">
            Выезд мастера и ремонт
          </h3>
          <p class="steps__text">
            Наш мастер приезжает к вам в указанное время, проводит диагностику и устанавливает истинную причину поломки.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
