<section class="cards-props" id="cards-props">
 <div class="container cards-props__container">
   <div class="cards-props__item rotate-card-no-click">
     <div class="cards-props__side rotate-card__front rotate-card__front--tablet front-js">
       <h3 class="cards-props__title">
         Профессионализм
       </h3>
     </div>
     <div class="cards-props__side rotate-card__back rotate-card__back--tablet back-js">
       <h3 class="cards-props__title">
         Профессионализм
       </h3>
       <p class="cards-props__text">
         Выполняем ремонт окон любой сложности. <br> Опыт работы более 10 лет
       </p>
     </div>
   </div>
   <div class="cards-props__item rotate-card-no-click" >
     <div class="cards-props__side rotate-card__front rotate-card__front--tablet front-js">
       <h3 class="cards-props__title">
         Диагностика
       </h3>
     </div>
     <div class="cards-props__side rotate-card__back rotate-card__back--tablet back-js">
       <h3 class="cards-props__title">
         Диагностика
       </h3>
       <p class="cards-props__text">
         Бесплатный выезд и диагностика (если ремонтные работы производятся в день обращения)
       </p>
     </div>
   </div>
   <div class="cards-props__item rotate-card-no-click">
     <div class="cards-props__side rotate-card__front rotate-card__front--tablet front-js">
       <h3 class="cards-props__title">
         Оперативность
       </h3>
     </div>
     <div class="cards-props__side rotate-card__back rotate-card__back--tablet back-js">
       <h3 class="cards-props__title">
         Оперативность
       </h3>
       <p class="cards-props__text">
         Помощь и ремонт окон в день обращения или в любое удобное для вас время
       </p>
     </div>
   </div>
   <div class="cards-props__item rotate-card-no-click">
     <div class="cards-props__side rotate-card__front rotate-card__front--tablet front-js">
       <h3 class="cards-props__title">
         Качество
       </h3>
     </div>
     <div class="cards-props__side rotate-card__back rotate-card__back--tablet back-js">
       <h3 class="cards-props__title">
         Качество
       </h3>
       <p class="cards-props__text">
         На все материалы и услуги гарантия от 2 лет
       </p>
     </div>
   </div>
 </div>
</section>
