<section class="hero" id="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      Недорогой ремонт и обслуживание <br> пластиковых окон и дверей <br> в Санкт-Петербурге и Ленинградской области
    </h1>

    <div class="hero__slider-wrapper">
      <img class="hero__men" src="img/hero/men.png" alt="Мастер">
      <div class="swiper-container swiper-container--1 hero__swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide hero__slide--repair-window">
            <h2 class="hero__slide-title">
              Ремонт <br>
              <span>
                пластиковых окон и дверей
              </span>
            </h2>
            <ul class="hero__slide-list">
              <li class="hero__slide-list-item">
                Ремонтируем любые оконные конструкции!
              </li>
              <li class="hero__slide-list-item">
                Гарантия на работу и материалы до 5 лет
              </li>
              <li class="hero__slide-list-item">
                Мастер выезжает в течение 1 часа
              </li>
              <li class="hero__slide-list-item">
                Выезд за КАД от 500р
              </li>
            </ul>
<!--            <img class="hero__slide-img" src="img/hero/men.png" alt="Мастер">-->
          </div>
          <div class="swiper-slide hero__slide hero__slide--change-glasses">
            <h2 class="hero__slide-title">
              Замена стеклопакета <br>
              <span>
                 в пластиковом окне по низким ценам
              </span>
            </h2>
            <ul class="hero__slide-list">
              <li class="hero__slide-list-item">
                Ремонтируем любые оконные конструкции!
              </li>
              <li class="hero__slide-list-item">
                Гарантия на работу и материалы до 5 лет
              </li>
              <li class="hero__slide-list-item">
                Мастер выезжает в течение 1 часа
              </li>
              <li class="hero__slide-list-item">
                Выезд за КАД от 500р
              </li>
            </ul>
<!--            <img class="hero__slide-img" src="img/hero/men.png" alt="Мастер">-->
          </div>
          <div class="swiper-slide hero__slide hero__slide--repair-lock">
            <h2 class="hero__slide-title">
              Ремонт фурнитуры <br>
              <span>
                пластиковых окон в день обращения
              </span>
            </h2>
            <ul class="hero__slide-list">
              <li class="hero__slide-list-item">
                Ремонтируем любые оконные конструкции!
              </li>
              <li class="hero__slide-list-item">
                Гарантия на работу и материалы до 5 лет
              </li>
              <li class="hero__slide-list-item">
                Мастер выезжает в течение 1 часа
              </li>
              <li class="hero__slide-list-item">
                Выезд за КАД от 500р
              </li>
            </ul>
<!--            <img class="hero__slide-img" src="img/hero/men.png" alt="Мастер">-->
          </div>
          <div class="swiper-slide hero__slide hero__slide--mosquito">
            <h2 class="hero__slide-title">
              Москитная сетка на окна и двери <br>
              <span>
                Антикошка
              </span>
            </h2>
            <ul class="hero__slide-list">
              <li class="hero__slide-list-item">
                Ремонтируем любые оконные конструкции!
              </li>
              <li class="hero__slide-list-item">
                Гарантия на работу и материалы до 5 лет
              </li>
              <li class="hero__slide-list-item">
                Мастер выезжает в течение 1 часа
              </li>
              <li class="hero__slide-list-item">
                Выезд за КАД от 500р
              </li>
            </ul>
<!--            <img class="hero__slide-img" src="img/hero/men.png" alt="Мастер">-->
          </div>
          <div class="swiper-slide hero__slide hero__slide__child-safe">
            <h2 class="hero__slide-title">
              Детский замок <br>
              <span>
                 на пластиковые окна
              </span>
            </h2>
            <ul class="hero__slide-list">
              <li class="hero__slide-list-item">
                Ремонтируем любые оконные конструкции!
              </li>
              <li class="hero__slide-list-item">
                Гарантия на работу и материалы до 5 лет
              </li>
              <li class="hero__slide-list-item">
                Мастер выезжает в течение 1 часа
              </li>
              <li class="hero__slide-list-item">
                Выезд за КАД от 500р
              </li>
            </ul>
            <img class="hero__slide-bg-img hero__slide-bg-img--1" src="img/hero/lock.png" alt="замок на окна">
            <img class="hero__slide-bg-img hero__slide-bg-img--2" src="img/hero/lock2.png" alt="замок на окна">
            <img class="hero__slide-bg-img hero__slide-bg-img--3" src="img/hero/lock3.png" alt="замок на окна">
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--1"></div>
      </div>
      <button class="swiper-button-next swiper-button-next--white swiper-button-next--1"></button>
      <button class="swiper-button-prev swiper-button-prev--white swiper-button-prev--1"></button>
    </div>
    <form method="POST" action="telegram.php" class="hero__form">
      <input type="text" class="hero__input hero__input--name" placeholder="Как вас зовут*" name="name">
      <input type="tel" class="hero__input input-tel" placeholder="Телефон*" name="phone">
      <input type="submit" class="hero__btn-send btn-primary">
    </form>
  </div>
</section>



