<section class="mosquito" id="popular">
  <div class="container mosquito__container">
    <div class="swiper-container swiper-container--2">
      <div class="swiper-wrapper">
        <div class="swiper-slide mosquito__item">
          <div class="mosquito__info">
            <h2 class="title mosquito__title">
              Москитные сетки
            </h2>
            <h3 class="mosquito__subtitle">
              Ряд преимуществ антимоскитных систем для окон и дверей
            </h3>
            <p class="mosquito__text">
              Главное преимущество и особенность москитных сеток это — беспрепятственное прохождения воздуха и солнечных лучей, при этом ограждая помещение от насекомых и всего остального.
            </p>
            <ul class="mosquito__list">
              <li class="mosquito__list-item">
                Защита вашего дома от пыли, пуха и мелкого мусора.
              </li>
              <li class="mosquito__list-item">
                Защита помещения от возгорания, наши изделия с легкостью препятствуют не потушенным окуркам.
              </li>
              <li class="mosquito__list-item">
                Защита от городской пыли, пуха и от посторонних предметов.
              </li>
              <li class="mosquito__list-item">
                Защита домашних питомцев, специально разработанные сетки — антикошка.
              </li>
            </ul>
          </div>
          <div class="mosquito__pictures">
            <picture class="mosquito__img mosquito__img--cat">
              <source srcset="img/cat_mobile.png" media="(max-width: 768px)">
              <img src="img/cat.png" alt="кошка">
            </picture>
            <picture class="mosquito__img mosquito__img--net">
              <source srcset="img/net_mobile.png" media="(max-width: 768px)">
              <img src="img/net.png" alt="Москитная сетка">
            </picture>
          </div>
        </div>
        <div class="swiper-slide mosquito__item">
          <div class="mosquito__info">
            <h2 class="title mosquito__title">
              Безопасность детей
            </h2>
            <h3 class="mosquito__subtitle">
              Детский замок на окна – залог безопасности ребенка
            </h3>
            <p class="mosquito__text">
              Детский замок на пластиковые окна - один из тех оконных аксессуаров, который просто необходим для квартир, где есть дети. Мы оказываем услуги замены штатной оконной ручки на ручку с замком для пластиковых окон по цене от 900 рублей. На все проводимые работы дается гарантия 12 месяцев.
            </p>
            <ul class="mosquito__list">
              <li class="mosquito__list-item">
                Их можно установить на любой тип современного окна, также некоторые виды могут монтироваться и на простые деревянные окна
              </li>
              <li class="mosquito__list-item">
                Такие конструкции способны ограничить доступ вашего ребенка к открыванию окон, что позволит предупредить возможность несчастных случаев и детских травм
              </li>
              <li class="mosquito__list-item">
                Оконные замки защищают квартиру от вторжений посторонних людей через окно
              </li>
            </ul>
          </div>
          <div class="mosquito__pictures mosquito__pictures--child">
            <picture class="mosquito__img mosquito__img--child1">
              <source srcset="img/child_safe1_mobile.png" media="(max-width: 768px)">
              <source srcset="img/child_safe1_tablet.png" media="(max-width: 1450px)">
              <img src="img/child_safe1.png" alt="замок от детей">
            </picture>
            <picture class="mosquito__img mosquito__img--child2">
              <source srcset="img/child_safe2_mobile.png" media="(max-width: 768px)">
              <source srcset="img/child_safe2_tablet.png" media="(max-width: 1450px)">
              <img src="img/child_safe2.png" alt="замок от детей">
            </picture>
            <picture class="mosquito__img mosquito__img--child3">
              <source srcset="img/child_safe3_mobile.png" media="(max-width: 768px)">
              <source srcset="img/child_safe3_tablet.png" media="(max-width: 1450px)">
              <img src="img/child_safe3.png" alt="замок от детей">
            </picture>
          </div>
        </div>
        <div class="swiper-slide mosquito__item">
          <div class="mosquito__info">
            <h2 class="title mosquito__title">
              Откосы и подоконники
            </h2>
            <h3 class="mosquito__subtitle">
              Красивому окну – качественный подоконник
            </h3>
            <p class="mosquito__text">
              Утеплить окна и создать привлекательный внешний вид вашему дому, можно воспользовавшись услугой по чистовой отделке окон. Услуга включает в себя отделка откосов ПВХ панелями и подоконниками из пластика или дерева.
            </p>
            <ul class="mosquito__list">
              <li class="mosquito__list-item">
                Служат дополнительным креплением для рамы.
              </li>
              <li class="mosquito__list-item">
                Придают конструкции законченный эстетичный внешний вид.
              </li>
              <li class="mosquito__list-item">
                Обеспечивают максимальную теплоизоляцию помещения.
              </li>
              <li class="mosquito__list-item">
                Защищают монтажные стыки, швы от попадания влаги.
              </li>
            </ul>
          </div>
          <div class="mosquito__pictures">
            <picture class="mosquito__img mosquito__img--windowswill1">
              <source srcset="img/windowswill1_tablet.png" media="(max-width: 1450px)">
              <img src="img/windowswill1.png" alt="откосы">
            </picture>
            <picture class="mosquito__img mosquito__img--windowswill2">
              <source srcset="img/windowswill2_mobile.png" media="(max-width: 768px)">
              <source srcset="img/windowswill2_tablet.png" media="(max-width: 1450px)">
              <img src="img/windowswill2.png" alt="откосы">
            </picture>
            <picture class="mosquito__img mosquito__img--windowswill3">
              <source srcset="img/windowswill3_mobile.png" media="(max-width: 768px)">
              <source srcset="img/windowswill3_tablet.png" media="(max-width: 1450px)">
              <img src="img/windowswill3.png" alt="откосы">
            </picture>
          </div>
        </div>
    </div>
    </div>
    <button class="mosquito__slider-btn-next swiper-button-next swiper-button-next--2"></button>
    <button class="mosquito__slider-btn-prev swiper-button-prev swiper-button-prev--2"></button>
    <button class="btn-primary mosquito__btn-callback callback-js">Заказать звонок</button>
  </div>
  <div class="swiper-pagination swiper-pagination--2"></div>

</section>



