<section class="price" id="price">
  <div class="container price__container">
    <h2 class="title price__title">
      Прайс-лист
    </h2>
    <table class="price__table" cellspacing="0">
      <tbody>
      <tr>
        <td class="price__name">
          Простая регулировка окна
        </td>
        <td class="price__unit"></td>
        <td class="price__cost">
          от 350 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Сложная регулировка окна
        </td>
        <td class="price__unit"></td>
        <td class="price__cost">
          от 900 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Установка «гребёнки» (ограничитель)
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 500 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Установка ответной планки
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 300 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Замена оконной ручки
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 600 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Ремонт или замена фурнитуры окон
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 3500 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Балконная защёлка
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 1200 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Ручка «тянучка» к балконной защёлке
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 500 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Замена уплотнительной резины
        </td>
        <td class="price__unit">
          м.п.
        </td>
        <td class="price__cost">
          от 150 - 400 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Чистка, смазка фурнитуры без съёма створки
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 450 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Чистка, смазка фурнитуры со съёмом
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 1200 ₽
        </td>
      </tr>
      <tr>
        <td class="price__name">
          Замена однокамерного стеклопакета
        </td>
        <td class="price__unit">
          шт
        </td>
        <td class="price__cost">
          от 3500 ₽
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
