<section class="services" id="services">
  <div class="container services__container">
    <h2 class="title services__title">
      Услуги
    </h2>
    <div class="services__content">
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Замена уплотнителя в пластиковых окнах
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Замена уплотнителя в пластиковых окнах
          </h3>
          <p class="services__text">
            Нужно осуществить замену уплотнителя на пластиковых окнах в Санкт-Петербурге и Ленинградской области? Обращайтесь, у нас только опытные мастера и качественные материалы — мы в кратчайшие сроки проведем замену с минимальной стоимостью.
          </p>
        </div>
      </div>
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Замена стеклопакета
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Замена стеклопакета
          </h3>
          <p class="services__text">
            Наши специалисты готовы оперативно оказать услуги по замене стеклопакета в окнах Санкт-Петербурга и области по цене от 3500 руб./шт
          </p>
        </div>
      </div>
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Регулировка окон
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Регулировка окон
          </h3>
          <p class="services__text">
            Наши специалисты готовы оказать услуги по регулировке окон в любой точке Санкт-Петербурга и Лен. области по цене от 500 рублей за створку.
          </p>
        </div>
      </div>
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Ремонт фурнитуры
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Ремонт фурнитуры
          </h3>
          <p class="services__text">
            Ремонт и замена оконной фурнитуры. Пластиковых, деревянных или алюминиевых окон по доступным ценам от 3500 руб./шт.
          </p>
        </div>
      </div>
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Утепление пластиковых окон
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Утепление пластиковых окон
          </h3>
          <p class="services__text">
            Заказать комплексное утепление окон могут у нас. Это становится особенно актуальным в преддверии зимы. Стоимость от 150 до 400 рублей за 1 п/м.
          </p>
        </div>
      </div>
      <div class="services__item rotate-card">
        <div class="services__item-side rotate-card__front front-js">
          <h3 class="services__item-title">
            Устранение продувания окон и дверей
            <span class="services__price">от 150 р</span>
          </h3>
        </div>
        <div class="services__item-side rotate-card__back back-js">
          <h3 class="services__item-title">
            Устранение продувания окон и дверей
          </h3>
          <p class="services__text">
            Продувает пластиковые окна? Наши специалисты готовы выполнить комплекс услуг по устранению продувания окон по доступным ценам от 150 рублей в Санкт-Петербурге и Ленинградской области
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
